
.login, .pomodoro{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 99vw;
    height: 98vh;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(71, 66, 66);

    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-radius: 2rem;
    
}